<header>
  <nav>
    <img src="../../assets/img//user-empty.png" alt="user dp">
    <div class="middle">
      <h4>Dance Room</h4>
      <p>last seen {{date}}</p>
    </div>
    <div class="right">
      <ul>
        <li>
          <i class="fa fa-search" aria-hidden="true"></i>
        </li>
        <li>
          <i class="fa fa-paperclip" aria-hidden="true"></i>
        </li>
        <li>
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </nav>
</header>