.sidebar-container {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    img.whatsapp-dp {
      width: 12%;
      border-radius: 50%;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 10px;
      li {
        margin-right: 10px;
      }
    }
  }
  #section-search {
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    span {
      position: absolute;
      left: 10px;
      i {
        font-size: 10px;
        color: gray;
      }
    }
    input#search-chat {
      outline: none;
      border: none;
      border-radius: 10px;
      width: 100%;
      height: 70%;
      font-size: 10px;
      text-align: center;
    }
  }
  #chat-history {
    padding: 10px;
    background: #fff;
    flex: 1;
    .chat-card {
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      height: 65px;
      padding: 10px;
      cursor: pointer;
      overflow: hidden;
      img {
        border-radius: 50%;
        margin-right: 10px;
      }
      .body {
        p,
        h5 {
          font-size: 10px;
        }
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .chat-card:hover {
      background-color: #ebebeb;
    }
  }
}

@media (min-width: 700px) {
  .sidebar-container {
    nav {
      ul {
        li {
          font-size: 15px;
        }
      }
    }
    #section-search {
      height: 50px;
      span {
        left: 25px;
        i {
          font-size: 12px;
        }
      }
      input#search-chat {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        text-align: center;
      }
    }
    #chat-history {
      .chat-card {
        img {
          width: 15%;
        }
        .body {
          p,
          h5 {
            font-size: 12px;
          }
        }
      }
    }
  }
}
