<div class="sidebar-container">
  <nav>
    <img src="../../assets/img//user-empty.png" title="Whatsapp DP" class="whatsapp-dp">
    <ul>
      <li><i class="fa fa-circle-o-notch" aria-hidden="true"></i></li>
      <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i></li>
    </ul>
  </nav>
  <section id="section-search">
    <span><i class="fa fa-search" aria-hidden="true"></i></span>
    <input type="text" name="searchChat" id="search-chat" placeholder="search or start a new chat">
  </section>
 <section id="chat-history">
   <div class="chat-cards">
     <div class="chat-card">
       <img src="../../assets/img//user-empty.png" alt="user icon">
       <div class="body">
         <h5>Dance Room</h5>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
       </div>
     </div>
     <div class="chat-card">
      <img src="../../assets/img//user-empty.png" alt="user icon">
      <div class="body">
        <h5>Dance Room</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
    <div class="chat-card">
      <img src="../../assets/img//user-empty.png" alt="user icon">
      <div class="body">
        <h5>Dance Room</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
   </div>
 </section>
</div>
